<div class="edit-question-page">
  <h3>Survey: <%= @question.survey.title %></h3>
  <a class="btn" href="/surveys/<%=@question.survey.id%>/edit">Back To Survey</a>  
  <h4>Question: <%= @question.text %></h4>
  <div class="edit-question-form">
    <form action="/questions/<%= @question.id %>/edit" method="post">
      <textarea rows="4" cols="40" name="question[text]"><%= @question.text %></textarea>
      <p class="formbtn"><input class="btn edit-question-form-btn" type="submit" value="Save Question"></p>
    </form>
    <form class="new-response-form" action="/questions/<%= @question.id %>/answers/new" method="post">
      <input class="btn" type="submit" value="Add Response">
      
    </form>
  </div>

  <h4>Possible Responses:</h4>
    <% @answers.each do |answer| %>
      <div class="responses-container">
        <form class="save-response-form" action="/answers/<%= answer.id %>/edit" method="post">
          <textarea class="answer-textarea" rows="2" cols="30" name="text"><%= answer.text %></textarea>
         <p class="response-buttons"><input class="btn save-question-btn" type="submit" value="Save"></p>
        </form>
     
      <form class="delete-response-form" action="/answers/<%= answer.id %>/delete" method="post">
        <input class="btn" type="submit" value="Delete">
      </form>
    <% end %>
    <div>
</div>


