<div class="edit-survey-form">
  <h2>Current Survey: 

  <span id='survey-title'><%= @survey.title %></span></h2>

    <form id="edit-title-form" action="/surveys/<%= @survey.id %>/edit" method="post">
      <input id="edit-title-text" class="tb "type="text" value="" name="survey[title]" placeholder="survey name" required>
      <input id="edit-title-btn" class="btn" type="submit" value="Save / Change">
    </form>

    <form id="add-question-form" method="POST" action="/questions/<%= @survey.id %>/new">
      <textarea id="question-textarea" rows="4" cols="40" name="question[text]" placeholder="add a question" required></textarea>
      <span class="edit-survey-buttons">
      <input id="add-question-btn" class="btn add-question" type="submit" value="Add Question">
      <%= erb :'/partials/_survey_tabs' %>
    </form> 
    <!-- <a id="back-to-survey" class="btn" href="/surveys/<%= @survey.id %>/edit">Back To Survey</a> -->
  </span>
  <div class="question-container">
    <h3>Survey Questions:</h3>
  <% @survey.questions.each do |question| %>
    <ul>
      <li class="edit-question-container">
        <p><%= question.text %></p>
        <span class="edit-question-buttons">
          <form id='delete-question' action="/questions/<%= question.id %>/delete" method="post">
            <input class="btn delete-question-btn" type="submit" value="Delete">
          </form>
          <a class="btn" href="/questions/<%= question.id %>/edit">Edit</a>
          <a class="btn" href="/questions/<%= question.id %>/edit">Add Responses</a>
        </span>
      </li>
    </ul>
  <% end %>
  </div>
</div>
