<h3>Survey: <a href="/survey/<%= @question.survey.id %>/edit"><%= @question.survey.title %></a></h3>

<h4>Question:</h4>
<form action="/questions/<%= @question.id %>/edit" method="post">
  <textarea rows="4" cols="40" name="question[text]"><%= @question.text %></textarea>
  <input class="survey_edit_buttons" type="submit" value="Save">
</form>

<h4>Possible Responses:</h4>
  <% @answers.each do |answer| %>
    
    <form action="/answers/<%= answer.id %>/edit" method="post">
      <textarea rows="4" cols="40" name="answer[text]"><%= answer.text %></textarea>
      <input class="survey_edit_buttons" type="submit" value="Save">
    </form>
    <form action="/answers/<%= answer.id %>/delete" method="post">
      <input class="survey_edit_buttons" type="submit" value="Delete">
    </form>
  <% end %>
  <form action="/questions/<%= @question.id %>/answers/new" method="post">
    <input class="survey_edit_buttons" type="submit" value="Add Response">
  </form>



