<h2> Please fill out all of the below.</h2>

<form action="/surveys/<%=@survey.id%>/response" method="post">
<label >Email: <input type="email" name="email" value="Enter email address."></label><br><br>
  <% @survey.questions.each do |question|%>
    <%= question.text%>
    <% question.answers.each do |answer| %>
      <input type="radio" name="<%=question.id%>" value="<%=answer.id%>">
      <%= answer.text %>
    <%end%><br><br>
  <% end %>
  <input type="submit" value="I'm finished">
</form>
